/* Reset default styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style untuk body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header dan navigation bar */
header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 18px;
}

nav ul li a.active {
    background-color: #555;
    color: white;
    border-radius: 5px;
}

.icons {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
}

.icons a {
    margin-left: 10px;
}

.icons img {
    width: 30px;
    height: 30px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px);
}

.home-content {
    text-align: center;
}

.logo {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 48px;
    font-family: 'ArialRounded', Courier, monospace;
}

p {
    font-size: 24px;
    font-weight: bold;
}
